<!-- Hotword Detection Demo -->

<launch>
    <arg name="log_level" default="INFO"/>
    <param name="/logger_lvl" value="$(arg log_level)"/>

    <!-- Run the Instance DB -->
    <node pkg="hotword_detector_pkg" type="hotword_detector_node" name="hotword_detector" output="screen">
        <param name="model_dir" value="/src/hotword_detector_pkg/resources/"/>
    </node>

</launch>
