<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <!-- Args to start different nodes -->
  <arg name="start_all" default="false" />
  <arg name="task_executor" default="$(arg start_all)" />
  <arg name="navigation" default="$(arg start_all)" />
  <arg name="perception" default="$(arg start_all)" />
  <arg name="arm" default="$(arg start_all)" />
  <arg name="people" default="$(arg start_all)" />
  <arg name="sound" default="$(arg start_all)" />

  <!-- Common args -->
  <arg name="cloud_topic" value="/head_camera/depth_registered/points" />
  <arg name="grasp_classifier_file" value="random_forest.pkl" />
  <arg name="segmentation_config" value="$(find task_executor)/config/zones.yaml" />
  <arg name="tasks_config" value="$(find task_executor)/config/tasks.yaml" />

  <!-- Simulation vs. non simulation args -->
  <arg name="data_config" default="$(find task_executor)/config/simulation.yaml" if="$(arg sim)" />
  <arg name="map_file" default="$(find fetch_gazebo_demo)/maps/test_zone.yaml" if="$(arg sim)" />
  <arg name="data_config" default="$(find task_executor)/config/robot.yaml" unless="$(arg sim)" />
  <arg name="map_file" default="$(find fetch_demos)/maps/map.yaml" unless="$(arg sim)" />


  <!-- Navigation -->
  <group if="$(arg navigation)">
    <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
      <arg name="map_file" value="$(arg map_file)" />
    </include>
  </group>

  <!-- Perception -->
  <group if="$(arg perception)">
    <!-- RAIL Segmentation -->
    <node pkg="rail_segmentation" type="rail_segmentation" name="rail_segmentation" output="screen">
      <param name="zones_config" value="$(arg segmentation_config)" />
      <param name="point_cloud_topic" value="$(arg cloud_topic)" />
      <param name="max_cluster_size" value="30000" />
      <param name="min_cluster_size" value="75" />
    </node>

    <!-- Grasp Suggestion -->
    <include file="$(find fetch_grasp_suggestion)/launch/grasp_suggestion.launch">
      <arg name="cloud_topic" value="$(arg cloud_topic)" />
      <arg name="classifier_file" value="$(arg grasp_classifier_file)" />
    </include>
  </group>

  <!-- Arm -->
  <group if="$(arg arm)">
    <node pkg="fetch_grasp_suggestion" type="executor" name="grasp_executor" output="screen" />

    <include file="$(find fetch_moveit_config)/launch/move_group.launch">
      <arg name="info" value="true"/>
      <arg name="allow_active_sensing" value="true" />
    </include>
  </group>

  <!-- People Detection -->
  <group if="$(arg people)">
    <include file="$(find rail_people_detector)/launch/closest_person_detection.launch" unless="$(arg sim)" >
      <arg name="start_all" value="true" />
      <arg name="debug" value="$(arg debug)" />
    </include>

    <node name="rail_people_detector" pkg="simulation_helpers" type="closest_person_generator.py" output="screen" if="$(arg sim)">
      <param name="desired_pose_frame" value="base_link" />
      <param name="position_match_threshold" value="1.0" />
      <param name="publish_rate" value="15.0" />
      <param name="debug" value="$(arg debug)" />
    </node>
  </group>

  <!-- Sound Play -->
  <group if="$(arg sound)">
    <node name="sound_play" pkg="sound_play" type="soundplay_node.py" />
  </group>

  <!-- Task Execution -->
  <group if="$(arg task_executor)">
    <node name="task_executor" pkg="task_executor" type="server_node.py" output="screen">
      <rosparam command="load" file="$(arg tasks_config)" />
    </node>

    <node name="database" pkg="task_executor" type="database_node.py">
      <rosparam command="load" file="$(arg data_config)" />
    </node>
  </group>
</launch>
